{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["chrome >= 80", "firefox >= 75"]
        }
      }
    ],
    "stage-2"
  ],
  "plugins": ["transform-decorators-legacy"] // ,lodash, "transform-vue-jsx"
}
